<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
<!--    <link type="text/css" href="{{ url_for('static', filename = 'css/reset.css')}}" rel="stylesheet">-->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css')}}" />
    <link rel="preload" href="{{ url_for('static', filename = 'fonts/SpaceGrotesk-VariableFont_wght.ttf')}}" as="font">

  {% block title -%}
  {% if title %}
    <title>Производители - {{title}}</title>
  {% else %}
    <title>Riduttori</title>
  {% endif %}
  {% endblock %}
</head>
<body>
{% block content -%}
    <header class="header">
        <div class="wrapper">

            <div class="header_wrapper">
                <div class="header_logo">
                    <a href="/" class="header_logo-link">
                        <img src="{{ url_for('static', filename='img/PCM-logo.png') }}" alt="Riduttori.ru" class="header_logo-pic">
                    </a>
                </div>

                <nav class="header_nav">
                    {%- block mainmenu -%}
                        <ul class="header_list">
                        {% for m in menu %}
                            <li class="header_item">
                                <a href="{{m.url}}" class="header_link">{{m.title}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endblock mainmenu -%}
                </nav>

                <div class="header_contact">
			          <a href="tel:+78124491538" class="header_contact_tel">+7(812)449-15-38</a>
			          <a href="mailto:info@neva-mehatronika.ru" class="header_contact_mailto">info@neva-mehatronika.ru</a>
        		</div>

            </div>

        </div>
    </header>

{% endblock %}
{% block footer -%}
<!--<div>;alkjdf'lajf'ladkfjb'aldfkbja'ldfkbnad'lfkbna</div>-->

{% endblock %}
</body>
</html>